/* Base styles for all devices */
.dogslist__main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dogslist_filter {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    margin-top: 25px;
    position: fixed;
    top: 19px;
    left: 0; /* Updated */
    right: 0; /* Updated */
    z-index: 12;

    input {
        padding: 12px 12px;
        border-radius: 10px;
        font-size: 14px;
        border: none;
    }

    svg {
        position: relative;
        top: 2px;
        right: 25px;
        font-size: 20px;
    }
}

.dogs_filter__panel {
    text-align: center;
    width: 80%;
    margin: 0 auto; /* Center horizontally */
    position: fixed;
    top: 76px;
    left: 0; /* Updated */
    right: 0; /* Updated */
    z-index: 10;

    .dogs_descrioption_icon {
        display: flex;
        justify-content: space-between;
        background-color: beige;
        padding: 9px 16px;
        width: 36%;
        margin: 40px auto;
    
    }
}

.dogslist_list {
    display: flex;
    justify-content: center;
    margin-top: 23vh;

}

.dogslist_wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 84%;
}

.dog-item {
    padding-top: 20px;
    width: 100%;
}

.dog-item img {
    border-radius: 12px;
    width: 50%;
}

.dog-item p {
    font-size: 12px;
}

.dog-item button {
    padding: 12px 12px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 300;
}

.dog-item button:hover {
    border: 5px solid rgb(200, 100, 100);
    font-weight: 600;
}

/* Media queries for tablet and desktop */
@media (min-width: 768px) {
    .dogslist_filter,
    .dogs_filter__panel {
        left: 50%;
        transform: translateX(-50%);
    }
}
