.myprofile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  
    .Personal_info,
    .Medical_info {
      margin-bottom: 20px;
  
      h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input,
      select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
  
      input[type="radio"] {
        margin-right: 10px;
      }
    }
    .gender-container {
        display: flex;
        align-items: center;
  
        input[type="radio"] {
          margin-right: 5px;
        }
      }
    
    .myprofile-prevnxtbtn {
      text-align: right;
  
      button {
        padding: 10px 20px;
        margin-left: 10px;
        border: none;
        background-color: #007bff;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    @media (min-width: 768px) {
      // Tablet styles
      max-width: 768px;
      padding: 30px;
  
      .Personal_info,
      .Medical_info {
        h1 {
          font-size: 28px;
        }
      }
    }
  
    @media (min-width: 992px) {
      // Laptop styles
      max-width: 992px;
      padding: 40px;
  
      .Personal_info,
      .Medical_info {
        h1 {
          font-size: 32px;
        }
      }
    }
  
    @media (min-width: 1200px) {
      // Large desktop styles (if needed)
      max-width: 1200px;
      padding: 50px;
  
      .Personal_info,
      .Medical_info {
        h1 {
          font-size: 36px;
        }
      }
    }
  }
  