$sidebarWidth: 250px; // Adjust the width as needed

.dashboard__main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 100vh;

 .sidebar {
    height: 100%;
    width: 30%;
    background-color: #9b8e8e;


    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }

  .mainbar {
   
    width: 80%;
    padding: 20px;
    background-color: #ffffff; // Example background color for mainbar

    .description-graphs{
         
        display: flex;
        justify-content: space-between;
        border: 1px solid #908383;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }
}

